<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>tests.AndroidTests.NetworkTests.PlannedWifiShutdownTests</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>activateWiFi</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>wiFiPlanningLastSlot</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>resetWiFiPlanning</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>wiFiPlanningFirstSlot</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>tests.AndroidTests.NetworkTests.DiagWiFiTests</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>DiagWiFiRange</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DiagCanals</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Diagbandwidth</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DiagWiFiStatus</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DiagWifiSecurity</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>DiagWiFiVisibility</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>tests.AndroidTests.NetworkTests.MyNetwork</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>EditConfWiFiType</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>EditSSID</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ShowWiFiPassword</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>EditWiFiPwd</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>EditNotRecommendedSecurity</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>tests.AndroidTests.NetworkTests.WiFiRestrictionsTests</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>BlockAccesswithoutDevice</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AllowAccessDeleteDevice</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BlockAccessAddDevice</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AllowAccesswithoutDevice</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BlockAccessDeleteDevice</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AllowAccessAddDevice</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
