<h2>Methods that were not run</h2><table>
<tr><td>tests.Base.BaseClass.setUp</td></tr>
<tr><td>tests.Base.BaseClass.setUp</td></tr>
<tr><td>tests.Base.BaseClass.setUp</td></tr>
<tr><td>tests.ExtentReport.ExtentReportsFree.reportTearDown</td></tr>
<tr><td>tests.ExtentReport.ExtentReportsFree.reportTearDown</td></tr>
<tr><td>tests.ExtentReport.ExtentReportsFree.reportTearDown</td></tr>
<tr><td>tests.Base.BaseClass.teardown</td></tr>
<tr><td>tests.Base.BaseClass.teardown</td></tr>
<tr><td>tests.Base.BaseClass.teardown</td></tr>
<tr><td>tests.ExtentReport.ExtentReportsFree.createInstance</td></tr>
<tr><td>tests.ExtentReport.ExtentReportsFree.createInstance</td></tr>
<tr><td>tests.ExtentReport.ExtentReportsFree.createInstance</td></tr>
</table>