<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ccb269">  <td>22/04/28 16:07:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WiFiRestrictionsTests.AllowAccessAddDevice()[pri:5, instance:tests.AndroidTests.NetworkTests.WiFiRestrictionsTests@81d9a72]">AllowAccessAddDevice</td> 
  <td>main@288379405</td>   <td></td> </tr>
<tr bgcolor="ccb269">  <td>22/04/28 16:07:53</td>   <td>26757</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WiFiRestrictionsTests.AllowAccessDeleteDevice()[pri:6, instance:tests.AndroidTests.NetworkTests.WiFiRestrictionsTests@81d9a72]">AllowAccessDeleteDevice</td> 
  <td>main@288379405</td>   <td></td> </tr>
<tr bgcolor="ccb269">  <td>22/04/28 16:07:04</td>   <td>-22920</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WiFiRestrictionsTests.AllowAccesswithoutDevice()[pri:4, instance:tests.AndroidTests.NetworkTests.WiFiRestrictionsTests@81d9a72]">AllowAccesswithoutDevice</td> 
  <td>main@288379405</td>   <td></td> </tr>
<tr bgcolor="ccb269">  <td>22/04/28 16:06:08</td>   <td>-78740</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WiFiRestrictionsTests.BlockAccessAddDevice()[pri:2, instance:tests.AndroidTests.NetworkTests.WiFiRestrictionsTests@81d9a72]">BlockAccessAddDevice</td> 
  <td>main@288379405</td>   <td></td> </tr>
<tr bgcolor="ccb269">  <td>22/04/28 16:06:36</td>   <td>-50683</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WiFiRestrictionsTests.BlockAccessDeleteDevice()[pri:3, instance:tests.AndroidTests.NetworkTests.WiFiRestrictionsTests@81d9a72]">BlockAccessDeleteDevice</td> 
  <td>main@288379405</td>   <td></td> </tr>
<tr bgcolor="ccb269">  <td>22/04/28 16:05:47</td>   <td>-99057</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WiFiRestrictionsTests.BlockAccesswithoutDevice()[pri:1, instance:tests.AndroidTests.NetworkTests.WiFiRestrictionsTests@81d9a72]">BlockAccesswithoutDevice</td> 
  <td>main@288379405</td>   <td></td> </tr>
<tr bgcolor="73c1fb">  <td>22/04/28 16:01:49</td>   <td>-337497</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DiagWiFiTests.DiagCanals()[pri:4, instance:tests.AndroidTests.NetworkTests.DiagWiFiTests@2e570ded]">DiagCanals</td> 
  <td>main@288379405</td>   <td></td> </tr>
<tr bgcolor="73c1fb">  <td>22/04/28 16:02:28</td>   <td>-298337</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DiagWiFiTests.DiagWiFiRange()[pri:6, instance:tests.AndroidTests.NetworkTests.DiagWiFiTests@2e570ded]">DiagWiFiRange</td> 
  <td>main@288379405</td>   <td></td> </tr>
<tr bgcolor="73c1fb">  <td>22/04/28 16:02:08</td>   <td>-318083</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DiagWiFiTests.DiagWiFiStatus()[pri:5, instance:tests.AndroidTests.NetworkTests.DiagWiFiTests@2e570ded]">DiagWiFiStatus</td> 
  <td>main@288379405</td>   <td></td> </tr>
<tr bgcolor="73c1fb">  <td>22/04/28 16:01:11</td>   <td>-375046</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DiagWiFiTests.DiagWiFiVisibility()[pri:2, instance:tests.AndroidTests.NetworkTests.DiagWiFiTests@2e570ded]">DiagWiFiVisibility</td> 
  <td>main@288379405</td>   <td></td> </tr>
<tr bgcolor="73c1fb">  <td>22/04/28 16:00:52</td>   <td>-394508</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DiagWiFiTests.DiagWifiSecurity()[pri:1, instance:tests.AndroidTests.NetworkTests.DiagWiFiTests@2e570ded]">DiagWifiSecurity</td> 
  <td>main@288379405</td>   <td></td> </tr>
<tr bgcolor="73c1fb">  <td>22/04/28 16:01:30</td>   <td>-356328</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DiagWiFiTests.Diagbandwidth()[pri:3, instance:tests.AndroidTests.NetworkTests.DiagWiFiTests@2e570ded]">Diagbandwidth</td> 
  <td>main@288379405</td>   <td></td> </tr>
<tr bgcolor="d18979">  <td>22/04/28 16:05:12</td>   <td>-134444</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MyNetwork.EditConfWiFiType()[pri:5, instance:tests.AndroidTests.NetworkTests.MyNetwork@b86de0d]">EditConfWiFiType</td> 
  <td>main@288379405</td>   <td></td> </tr>
<tr bgcolor="d18979">  <td>22/04/28 16:04:39</td>   <td>-167618</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MyNetwork.EditNotRecommendedSecurity()[pri:4, instance:tests.AndroidTests.NetworkTests.MyNetwork@b86de0d]">EditNotRecommendedSecurity</td> 
  <td>main@288379405</td>   <td></td> </tr>
<tr bgcolor="d18979">  <td>22/04/28 16:03:03</td>   <td>-263076</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MyNetwork.EditSSID()[pri:2, instance:tests.AndroidTests.NetworkTests.MyNetwork@b86de0d]">EditSSID</td> 
  <td>main@288379405</td>   <td></td> </tr>
<tr bgcolor="d18979">  <td>22/04/28 16:03:51</td>   <td>-215180</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MyNetwork.EditWiFiPwd()[pri:3, instance:tests.AndroidTests.NetworkTests.MyNetwork@b86de0d]">EditWiFiPwd</td> 
  <td>main@288379405</td>   <td></td> </tr>
<tr bgcolor="d18979">  <td>22/04/28 16:02:47</td>   <td>-279384</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MyNetwork.ShowWiFiPassword()[pri:1, instance:tests.AndroidTests.NetworkTests.MyNetwork@b86de0d]">ShowWiFiPassword</td> 
  <td>main@288379405</td>   <td></td> </tr>
<tr bgcolor="6c8f8d">  <td>22/04/28 15:58:47</td>   <td>-519666</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PlannedWifiShutdownTests.activateWiFi()[pri:1, instance:tests.AndroidTests.NetworkTests.PlannedWifiShutdownTests@776a6d9b]">activateWiFi</td> 
  <td>main@288379405</td>   <td></td> </tr>
<tr bgcolor="dbbdf9">  <td>22/04/28 15:58:47</td>   <td>-519692</td> <td title="&gt;&gt;ExtentReportsFree.createInstance()[pri:0, instance:tests.AndroidTests.NetworkTests.PlannedWifiShutdownTests@776a6d9b]">&gt;&gt;createInstance</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@288379405</td>   <td></td> </tr>
<tr bgcolor="dbbdf9">  <td>22/04/28 16:08:21</td>   <td>54076</td> <td title="&lt;&lt;ExtentReportsFree.reportTearDown()[pri:0, instance:tests.AndroidTests.NetworkTests.PlannedWifiShutdownTests@776a6d9b]">&lt;&lt;reportTearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@288379405</td>   <td></td> </tr>
<tr bgcolor="6c8f8d">  <td>22/04/28 15:59:44</td>   <td>-462889</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PlannedWifiShutdownTests.resetWiFiPlanning()[pri:3, instance:tests.AndroidTests.NetworkTests.PlannedWifiShutdownTests@776a6d9b]">resetWiFiPlanning</td> 
  <td>main@288379405</td>   <td></td> </tr>
<tr bgcolor="7caca8">  <td>22/04/28 15:58:47</td>   <td>-519686</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUp()[pri:0, instance:tests.AndroidTests.NetworkTests.PlannedWifiShutdownTests@776a6d9b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@288379405</td>   <td></td> </tr>
<tr bgcolor="7caca8">  <td>22/04/28 16:08:21</td>   <td>54056</td> <td>&nbsp;</td><td title="&lt;&lt;BaseClass.teardown()[pri:0, instance:tests.AndroidTests.NetworkTests.PlannedWifiShutdownTests@776a6d9b]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@288379405</td>   <td></td> </tr>
<tr bgcolor="6c8f8d">  <td>22/04/28 15:59:00</td>   <td>-506256</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PlannedWifiShutdownTests.wiFiPlanningFirstSlot()[pri:2, instance:tests.AndroidTests.NetworkTests.PlannedWifiShutdownTests@776a6d9b]">wiFiPlanningFirstSlot</td> 
  <td>main@288379405</td>   <td></td> </tr>
<tr bgcolor="6c8f8d">  <td>22/04/28 16:00:19</td>   <td>-427189</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PlannedWifiShutdownTests.wiFiPlanningLastSlot()[pri:4, instance:tests.AndroidTests.NetworkTests.PlannedWifiShutdownTests@776a6d9b]">wiFiPlanningLastSlot</td> 
  <td>main@288379405</td>   <td></td> </tr>
</table>
